ul.pagination {
  display: inline-block;
  padding: 0;
  margin: 0;
  li {
    display: inline;
    &.active{
      a{
        background-color: rgb(0, 188, 212);
        color: white;
        border: 1px solid rgb(0, 188, 212);
        &:hover{
          background-color: rgb(0, 188, 212);
        }
      }
    }
    a {
      color: rgb(158, 158, 158);
      float: left;
      padding: 8px 16px;
      text-decoration: none;
      border: 1px solid #ddd;
      margin: 0 4px;
      cursor: pointer;
      border-radius: 5px;
      font:1.1em bold;
      transition: background-color .3s;
      &:hover{
        background-color: #ddd;
      }
    }
  }
}